.loginStep {
    background: #fff;
    padding-bottom: 5px;
    border-radius: 3px;
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.5);
}

.loginHead {
    color: #757575;
    margin-bottom: 19px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
}

.loginHead {
    margin-bottom: 29px;
}

.loginHead p {
    padding-top: 14px;
}

.login .checkmark {
    height: 14px;
    width: 14px;
}

.login .checkContainer .checkmark:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
}

@media (min-width: 1201px) {
    .loginCont {
        padding-left: 75px !important;
        padding-right: 75px !important;
    }
}
